.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  text-align: center;
  gap: 20px;

  .bottom {
    display: flex;
    gap: 20px;
  }
}
